.order-card {
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: white;
    background-color: #1c1c1c;
}

.order-item {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Add a default border */
    border-radius: 8px; /* Rounded corners */
    transition: all 0.3s ease;
}

.order-item:hover{
    color: black;
    border-color: #28a745;
    border-color: #28a745; /* Change border color on hover */
    background-color: #f8f9fa; /* Light background color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-image {
    margin-right: 15px;
}

.order-item-name {
    font-size: 1.2rem;
    margin: 0;
}

.order-item-color, .order-item-size, .order-item-quantity {
    margin: 0;
}

.order-summary {
    text-align: right;
}

.order-item-total-price {
    font-weight: bold;
}

.order-status {
    font-weight: bold;
}

.text-warning {
    color: #ffc107;
}

.text-success {
    color: #28a745;
}

