.admin-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background: #343a40;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.sidebar ul li a:hover {
  background: #495057;
  border-radius: 4px;
}

.content {
  width: 80%;
  padding: 20px;
  background: #f8f9fa;
  overflow-y: auto;
}

.content h2 {
  margin-bottom: 20px;
}


/* AdminHomePage.css */
.admin-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 18%;
  height: 26rem;
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  border-bottom-right-radius: 15px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-nav ul {
  font-family: Saira Stencil One;
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li {
  margin: 10px 0;
}

.sidebar-nav ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background 0.3s;
}

.sidebar-nav ul li a:hover {
  background-color: #495057;
}

.sidebar-nav ul li a .fa-icon {
  margin-right: 10px;
}

.content {
  width: 100%;
  padding: 20px;
  background-color: #000000;
}

.content-header {
  margin-bottom: 20px;
}

.content-main {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}