.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  
  .sidebar h5 {
    margin-bottom: 20px;
  }
  
  .sidebar .nav-link {
    text-decoration: none;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  

  .sidebar-item-container{
    margin-top: 65%;
  }

  .outlet-container{
    margin-top: 7%;
  }